<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/include-html.min.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <title>Fragments for the website</title>
</head>
<body>
<!--HEADER BASIC START-->
<div th:fragment="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div id="primary-nav" class="container">
      <a class="navbar-brand" href="home">RP's Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto " >
          <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shopping-cart">Shopping Cart</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registration" >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="user/user">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--HEADER BASIC END-->
<!--HEADER DASHBOARD START-->
<div th:fragment="headerdashboard">
  <nav class="text-white navbar navbar-expand-md navbar-light bg-dark ">
    <div id="dashboard-nav" class="container text-light">
      <a class="navbar-brand text-white" href="dashboard">RP's Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDashboard">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item active ">
            <a class="nav-link text-white" href="home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="list">Edit Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="userlist">Edit Users</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" href="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="registration" >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="user/user">Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--HEADER DASHBOARD END-->


<!--FOOTER START-->
<div th:fragment="footer">
<footer class="footer fixed-bottom " xmlns:th="http://www.thymeleaf.org">
  <div class="bg-light">
    <div class="row">
      <div class="col-12 col-sm-6 text-center text-sm-start">
        &copy; <a href="https://github.com/arpeedesign">Arpad Arnold Szabo</a>, All Right Reserved.
      </div>
    </div>
  </div>
</footer>
</div>
<!--FOOTER END-->

<!--FOOTER DASHBOARD START-->
<div th:fragment="footerdashboard">
  <footer class="footerdashboard fixed-bottom" xmlns:th="http://www.thymeleaf.org">
    <div class="bg-dark">
      <div class="row text-white">
        <div class="col-12 col-sm-6 text-center text-sm-start">
          &copy; <a href="https://github.com/arpeedesign">Arpad Arnold Szabo</a>, All Right Reserved.
        </div>
      </div>
    </div>
  </footer>
</div>
<!--FOOTER DASHBOARD END-->

<!--SIDE MENU START-->
<div th:fragment="sidemenu" class="container-fluid">
  <div class="row ">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
    </main>
  </div>
</div>
<!--SIDE MENU END-->


</body>
</html>