<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <script src="jquery-3.6.3.min.js"></script>
</head>
<body>
<div th:replace="fragments :: header"> Header placeholder</div>

<div class="position-relative overflow-hidden  text-center bg-light"> <!--p-3 p-md-5 m-md-3-->
  <div class="col-md-5 p-lg-5 mx-auto "> <!--my-5-->
    <h1 class="display-4 font-weight-normal">Welcome to my portfolio project!</h1>
    <p class="lead font-weight-normal">The backend is written in Java 17, where I used Gradle, Spring WEB, Spring Security and MySQL. I used Thymeleaf to generate the dynamic part of the frontend.</p>
    <a class="btn btn-outline-primary" href="/login">Log in</a>
    <a class="btn btn-primary" href="/registration">Register</a>
  </div>
</div>

<div class="container mt-5 mx-auto">
    <h3 class="p-5 m-5 font-italic border-bottom border-top text-center">
      User handling functions
    </h3>
</div>

<div class="container">
  <div class="row">
  <div class="col-md">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-secondary">User handling</strong>
        <h3 class="mb-0 pb-3">
          <a class="text-primary" href="registration">Registration</a>
        </h3>
        <div class="mb-1 text-muted"></div>
        <p class="card-text mb-auto">Website visitors have the opportunity to register by filling in the required information. After submitting the data, an email will be sent to him/her via Gmail to confirm the registration. Click on the link here to confirm his/her registration. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-secondary">User handling</strong>
        <h3 class="mb-0 pb-3">
          <a class="text-primary" href="login">Login</a>
        </h3>
        <p class="card-text mb-auto">The login function is required to place an order. Registrars will be assigned USER authorization by default.</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">User handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="shop">Shop</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">All products are available in a list with their category, price, and product name. There is also a buy button to add the selected product to the shopping cart.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">User handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="shopping-cart">Shopping Cart</a>
          </h3>
          <p class="card-text mb-auto">In the shopping cart, you can also change the number of items or delete a product.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">User handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="shopping-cart">Order</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">You can finalize your order by pressing the order button.</p>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>

<div class="container mt-5 mx-auto">
  <h3 class="p-5 m-5 font-italic border-bottom border-top text-center">
    Admin functions
  </h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="dashboard">Dashboard</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="dashboard">Upload Sales Data</a>
          </h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="dashboard">Date Selector</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="dashboard">Sales Data Summary</a>
          </h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="dashboard">Order List</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="list">Edit Products</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-secondary">Admin handling</strong>
          <h3 class="mb-0 pb-3">
            <a class="text-primary" href="userlist">Order Users</a>
          </h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-md">
    </div>
  </div>
</div>
</div>

<div class="container mb-5">
  <button class="btn btn-primary" type="button" onclick="document.location='/list'">Add Product</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/userlist'">Add User</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/dashboard'">Dashboard</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/shop'">Shop</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/login'">Login</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/registration'">Register</button>
</div>


<div th:replace="fragments :: footer"> Footer placeholder</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
</body>
</html>