<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <script src="jquery-3.6.3.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Home Page</h2>
  <hr/>
  <button class="btn btn-primary" type="button" onclick="document.location='/list'">Add Product</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/userlist'">Add User</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/dashboard'">Dashboard</button>
  <button class="btn btn-primary" type="button" onclick="document.location='/shop'">Shop</button>
</div>


<!--<div class="container">
  <h2>Products</h2>
  &lt;!&ndash; grid view starts here&ndash;&gt;
  <div class="col-lg-9">
    &lt;!&ndash;CATEGORY SELECTER START&ndash;&gt;
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline shop-top-menu pb-3 pt-1">
          <li class="list-inline-item">
            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
          </li>
          <li class="list-inline-item">
            <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
          </li>
          <li class="list-inline-item">
            <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 pb-4">
        <div class="d-flex">
          <select class="form-control">
            <option>Featured</option>
            <option>A to Z</option>
            <option>Item</option>
          </select>
        </div>
      </div>
    </div>
    &lt;!&ndash;CATEGORY SELECTER END&ndash;&gt;
    &lt;!&ndash;Grid start&ndash;&gt;
    <div class="row" >&lt;!&ndash;ITERÁLÁS IDE th:each="product: ${products} &ndash;&gt;
      <div class="col-md-4" th:each="product: ${products}">
        <div class="card mb-4 product-wap rounded-0">
          <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" th:text="${product.productPic}" src=""> &lt;!&ndash; TERMÉK FOTÓ felülírni! &ndash;&gt;
            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
              <ul class="list-unstyled">
                <li><a class="btn btn-success text-white" href="#"><i class="v"></i></a></li>
                <li><a class="btn btn-success text-white mt-2" href="#"><i class="bi bi-eye-fill"></i></a></li>
                <li><a class="btn btn-success text-white mt-2" href="#"><i class="bi bi-cart-plus-fill"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <a href="#" class="h3 text-decoration-none" th:text="${product.productName}">Ezt kell felülírni</a>
            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
              <li>M/L/X/XL</li>
              <li class="pt-2">
                <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
              </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-center mb-1">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
            </ul>
            <p class="text-center mb-0" th:text="'$' + ${product.productPrice}">$250.00</p> &lt;!&ndash; ÁRAT LÉTREHOZNI ÉS BEHIVATKOZNI&ndash;&gt;
          </div>
        </div>
      </div>

    </div>
    &lt;!&ndash;Grid end&ndash;&gt;
    <div div="row">
      <ul class="pagination pagination-lg justify-content-end">
        <li class="page-item disabled">
          <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
        </li>
      </ul>
    </div>
  </div>
  &lt;!&ndash; END GRID VIEW &ndash;&gt;

</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
</body>
</html>