<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <script src="jquery-3.6.3.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Product List Page</h2>
  <hr/>
  <p>You can add products to the list by clicking on one of the following options.</p>
  <a th:href="@{addProductForm}" class="btn btn-info mb-2">Add Single Product</a>
  <a th:href="@{addBulkProductForm}" class="btn btn-info mb-2">Add Bulk Product</a>
  <h6>Product List</h6>
  <table class="table table-bordered table-striped" id="productTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
      <td th:text="${product.productName}"></td>
      <td th:text="${product.productType}"></td>
      <td>
        <a th:href="@{/showUpdateForm(productId=${product.productId})}" class="btn btn-info">Update</a>
        <a th:href="@{/deleteProduct(productId=${product.productId})}" class="btn btn-danger ml-2">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <hr/>
  <a th:href="@{/home}">Back to home</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#productTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>