<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <script src="jquery-3.6.3.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Product List Page</h2>
  <hr/>
  <p>You can add products to the list by clicking on one of the following options.</p>
  <a th:href="@{addProductForm}" class="btn btn-info mb-2">Add Single Product</a>
  <a th:href="@{addBulkProductForm}" class="btn btn-info mb-2">Add Bulk Product</a>
  <h6>Product List</h6>
  <table class="table table-bordered table-striped" id="productTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
      <td th:text="${product.productName}"></td>
      <td th:text="${product.productType}"></td>
      <td th:text="${product.productPic}"></td>
      <td th:text="${product.productPrice}"></td>
      <td>
        <a th:href="@{/showUpdateForm(productId=${product.productId})}" class="btn btn-info">Update</a>
        <a th:href="@{/deleteProduct(productId=${product.productId})}" class="btn btn-danger ml-2">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <hr/>
  <a th:href="@{/home}">Back to home</a>
  <hr/>


  <div class="container">
    <h2>Products</h2>
    <!-- grid view starts here-->
    <div class="col-lg-9">
      <!--CATEGORY SELECTER START-->
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline shop-top-menu pb-3 pt-1">
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
            </li>
            <li class="list-inline-item">
              <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 pb-4">
          <div class="d-flex">
            <select class="form-control">
              <option>Featured</option>
              <option>A to Z</option>
              <option>Item</option>
            </select>
          </div>
        </div>
      </div>
      <!--CATEGORY SELECTER END-->
      <!--Grid start-->
      <div class="row" ><!--ITERÁLÁS IDE th:each="product: ${products} -->
        <div class="col-md-4" th:each="product: ${products}">
          <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
              <img class="card-img rounded-0 img-fluid" src=th:text="${product.productPic}"> <!-- TERMÉK FOTÓ felülírni! -->
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white" href="#"><i class="v"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="#"><i class="bi bi-eye-fill"></i></a></li>
                  <li><a class="btn btn-success text-white mt-2" href="#"><i class="bi bi-cart-plus-fill"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <a href="#" class="h3 text-decoration-none" th:text="${product.productName}">Ezt kell felülírni</a>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                <li>M/L/X/XL</li>
                <li class="pt-2">
                  <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                  <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                </li>
              </ul>
              <ul class="list-unstyled d-flex justify-content-center mb-1">
                <li>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-warning fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                  <i class="text-muted fa fa-star"></i>
                </li>
              </ul>
              <p class="text-center mb-0" th:text="'$' + ${product.productPrice}">$250.00</p> <!-- ÁRAT LÉTREHOZNI ÉS BEHIVATKOZNI-->
            </div>
          </div>
        </div>

      </div>
      <!--Grid end-->
      <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
          <li class="page-item disabled">
            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- END GRID VIEW -->

  </div>



</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#productTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>