<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title >Shopping Cart</title>
  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
  <script src="jquery-3.6.3.min.js"></script>
</head>
<body >
<div th:replace="fragments :: header"> Header placeholder</div>
<div class="container">
  <h2>Shopping Cart</h2>
  <table class="table table-sm table-bordered table-hover table-dark" id="shoppingCartTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub-total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartitem: ${cartitems}">
      <td th:text="${cartitem.product.productName}"></td>
      <td th:text="${cartitem.product.productPrice}"></td>
      <td>
          <div class="input-group-append">
          <form th:action="@{/shopping-cart}" method="get" th:value="${cartitem.id}">
            <input type="hidden" name="cartItemId" th:value="${cartitem.id}">
            <input type="number"   name="quantity" th:value="${cartitem.quantity}"
                   oninput="this.value = this.value.replace(/[^1-99.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
            >
            <button class="btn btn-primary btn-sm" type="submit">Update</button>
          </form>
          </div>
      </td>
      <td>
        <p th:text="'$' + ${cartitem.subTotal}">Subtotal</p>
      </td>
      <td>
        <a th:href="@{/removeProductFromCart(id=${cartitem.id})}" class="btn btn-danger btn-sm">Remove from cart</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div align="center">
    <h4  th:text="'Total price: $' + ${totalcartprice}">Total price: $345</h4>
  </div>
  <div align="center">
    <a th:href="@{/orderCartItems}" align="center"  class="btn btn-success btn-lg">Order</a>
  </div>
  <br/>
  <a th:href="@{/home}">Back to home</a>

</div>
<div th:replace="fragments :: footer">Footer placeholder</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#shoppingCartTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>
</html>